Vous avez l'intention de vous positionner dans le web ? informatiser votre société, apprendre à utiliser un site web,
ou souhatiez mettre en place un serveur privé dans vos locaux ?<br/>
Utliser ce forumulaire por prendre contact afin de se fixer un rendez-vous et exposer vos besoins et ainsi obtenir les premières
conseille pour vous guider dans votre projet.

<h2>formulaire de contact</h2>

<form class="ui form contact" [class.cacher]="isHideContact">

  <div class="field">
    <label>Nom</label>
    <div class="two fields">
      <div class="field">
        <input name="shipping[first-name]" placeholder="société" type="text">
      </div>
      <div class="field">
        <input name="shipping[last-name]" placeholder="nom" type="text">
      </div>
      <div class="field">
        <input name="shipping[last-name]" placeholder="prénom" type="text">
      </div>
    </div>

  </div>
  <div class="field">
    <label>Address Postal</label>
    <div class="fields">
      <div class="twelve wide field">
        <input name="shipping[address]" placeholder="votre adresse" type="text">
      </div>
      <div class="four wide field">
        <input name="shipping[address-2]" placeholder="code postal" type="text">
      </div>
    </div>
  </div>
</form>