.flex-container {
    background-color:#6ABE67;
    justify-content:center;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
  
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  } 
  
  .flex-item {
    background:#6ABE67;
    width: 160px;
    
    line-height: 40px;
    color: white;
    text-align: center;
  }

  .menu{
    cursor: pointer;
  }