@couleurPrim:#66BE5E;

app-tete{
    background: red;
}

    
app-menu{
    background:@couleurPrim;
    line-height: 3em;
}

app-footer{
    background:@couleurPrim;  
    line-height: 6em;
}
div.fin{
    height:3em;
}

