app-banniere {
  color: white;
}
app-menu {
  background: #fd7654;
  line-height: 3em;
}
app-page {
  display: block;
  color: white;
  margin-top: 3em;
}
app-footer {
  background: #fd7654;
  line-height: 6em;
  color: white;
}
div.fin {
  height: 3em;
}
