<div class="ui centered grid">
    <div class="fifteen wide column">
        <article *ngIf="!articleCourant" class="ui equal width grid centered">
            <div *ngFor="let logo of logoEntrer">
                <img class="column" [src]="logo">
            </div>


        </article>
        <article *ngIf="articleCourant == 'Accueil'">
            <h2>Mon activité</h2>


            <p>

                Technicien électronique pendant 12 ans et développeur depuis 5 années avec une formation au CNAM dans le langage client/serveur,
                j'ai construit mes permières expérences en langage PHP5 sous le LMS Moodle en backend pour conçevoir des solutions adaptés à l' école Vétérinaire de LYON.<br/>
                A mon niveau, j'ai décider de mettre mon expérience au service des entreprises dans le domaine des technologie informatique et électronique, je m' oriente dans
                un cadre de projet abordable dans plusieurs domaines:
                <li>
                    la boutique en ligne
                </li>
                <li>
                    le e-learning
                </li>
                <li>
                    le site vitrine
                </li>
                <li>
                    Conception de carte commande relais électronique avec l'arduino ou le beaglebone.
                </li>
            </p>

            <p>
                Les compétences acquises tout au long de mon parcours professionnel me permet d'avoir une première approche pour trouver
                une solution accessible adapté à votre activité et à la prise en compte d'une contrainte budgétaire.
            </p>

            <p>
                Mes prestations en conseil et développement tournent autours de 5 domaines:

                <li>
                    Hardware informatiques (installation, configuration, mise à jours, remplacement du matériel, premier conseil en sécurité).
                </li>
                <li>
                    Admnistrateur réseau de premier niveau (hébergement mutualisé, non de domaine, serveur VPS, archivage sauvegarde, import/export).
                </li>
                <li>
                    Développement de logiciel web , conception de base de donnée, utilisation et implémentation du webservce REST.
                </li>
                <li>
                    Formation à l'utiliation de l' informatique de base (système d'exploitation, bureutique), utilisation de boutique en ligne,
                    site vitrine, site e-learning (wodpress, prestashop, moodle, dollibar).
                </li>
                <li>
                    Création de logo, prise de photo, retouche et détourage d'image, amélioration de l'image en contrast, couleur.
                </li>
            </p>

            <p>
                La technologie étant assez vaste et complexe, mon travail est de vous aider comprendre , les outils logiciel et le matériel
                informatique à notre disposition. trouver une solution adapaté à votre environnement et prendre conscience
                de votre au budget.
            </p>
        </article>

        <article *ngIf="articleCourant == 'Prestation'">
            <h2>Mes services</h2>

            <ul>
                <li>Installation/migration de LMS sur un serveur Mutualisé ou VPS</li>
                <ul>
                    <li>
                        Moodle2, Moodle3
                    </li>
                    <li>
                        Assistance de l'utilisation de ce LMS
                    </li>
                    <li>
                        migration de plate forme sous Linux, Apache, MYSQL/MariaDB
                    </li>
                </ul>
            </ul>

            <ul>
                <li>Installation de CMS sur un serveur mutualisé ou VPS</li>
                <li>
                    <ul>
                        <li>
                            Wordpress
                        </li>
                    </ul>
                    <ul>
                        Prestashop
                    </ul>
            </ul>

            <ul>
                <li>Installation de gestion d'entreprise dollibar</li>
            </ul>

            <ul>
                <li>
                    Ajout de fonctionnalité spécifique de vos logiciel métiers WEB, changement de serveur 
                    (migration import, export, sauvegarde).
                </li>
            </ul>

            <ul>
                Conseil en système d'information pour votre activités<br/> Vous souhaitez "informatiser" votre activité
                , je vous conseillerais en fonction de votre besoin quel serais la solution adpaté à votre activité 
                comme l'ecommerce, le e-learning, le site de communication ainsi qu' à sa gestion de sauvegarde
                qui est le meilleur rampart pour sactuariser vos données en cas de de piratage informatique.
            </ul>

        </article>

        <article *ngIf="articleCourant == 'Technologie'">

            <h2>Technologie utilisé</h2>

            <p>
                Je suis axés sur 3 technologies pour rendre le développement d' API REST efficace et d'être moin dépandant des environnements
                de développement:

            </p>

            <ul>
                <li>
                    Angular 4 pour le côté client, utiliser le langage javascript permet d'avoir des pages légère
                     et dynamique avec une bon environnement entre ce framework et votre navigateur web.
                </li>
                <li>
                    Le framwork Lumen pour la gestion serveur qui permettra de fournir les données sous forme d'API.
                </li>
                <li>
                    la base de donnée MYSQL ou Maria DB est une solution adapté au petite et moyenne entreprise.
                </li>
            </ul>


            <p>
                vous souhaitez concevoir des cartes de commande type domotique, 
                je peux développer des solutions sous arduino ou sous beaglbone avec un langage telle que C ou bonejs.
            </p>
        </article>

        <article class="ui row" *ngIf="articleCourant == 'portfolio'">
            <img src="/assets/taranis_electronics.png">
            <img src="/assets/vetotice.png">
            <img src="/assets/agrotice.png">
        </article>

        <app-contact id="contact" *ngIf="articleCourant == 'Contact'">
        </app-contact>

    </div>
</div>