<div class="ui centered grid">
    <div class="fifteen wide column">
        <article *ngIf="!articleCourant" class="ui equal width grid centered">
            <div *ngFor="let logo of logoEntrer" >

                <img class="column" [src]="logo">
            </div>


        </article>
        <article *ngIf="articleCourant == 'Accueil'">
            <h2>Mon activité</h2>

            <p>
                Développeur web depuis quelques années, j'ai décider de mettre mon savoir aux services des petites entreprises dans le domaine
                de l'informatique et de l'électronique autour de la région lyonnaise dans le cadres de petite projet.</p>

            <p> les compétences aquise tout au long de mon parcourt professionnel me permet d'avoir une première approche en
                conseil technologique pour une mise en place de vos solution informatique.</p>

            <p>
                Ma méthode de travail est avant tout de comprendre l'environnement de votre entreprise, afin de trouver une solution adapté
                à votre budget.
            </p>

            <p>
                mon activité tourne autour de 4 activités:
                <li>
                    hardware informatiques (installation, configuration, mise à jours, remplacement de composant).
                </li>
                <li>
                    développement logiciel web et électronique couplé avec l' arduino, beaglebone.
                </li>
                <li>
                    admnistrateur réseaux de premier niveau (hébergement mutualisé, VPS, archivage sauvegarde, import export)
                </li>
                <li>
                    Aide à l'utilisation et formation utilisation de CMS(wodpress, prestashop) , LMS (moodle) apprentissage sur la programmation
                    procédural et objet.
                </li>
            </p>

        </article>


        <article *ngIf="articleCourant == 'Prestation'">
            <h2>Mes services</h2>

            <ul>
                <li>Installation de LMS sur un serveur Mutualisé ou VPS</li>
                <ul>
                    <li>
                        Moodle 1.8, Moodle2, Moodle3
                    </li>
                    <li>
                        Assistance de l'utilisation de ce LMS
                    </li>
                    <li>
                        migration de plate forme sous Linux, Apache, MYSQL/MariaDB
                    </li>
                </ul>
            </ul>

            <ul>
                <li>Installation de CMS sur un serveur mutualisé ou VPS</li>
                <li>
                    <ul>
                        <li>
                            Wordpress
                        </li>
                    </ul>
                    <ul>
                        Prestashop
                    </ul>
            </ul>

            <ul>
                <li>Installation de gestion d'entreprise dollibar</li>
            </ul>

            <ul>Service d'import et d'export de vos CMS ou solution sépcifique
                <li>
                    Je peux intervenir sur l'ajout de fonctionnalité spécifique de vos logiciel métiers WEB.
                </li>
            </ul>

            <ul>
                Conseille en système d'information pour vos petite activités<br/> Vous souhaitez informatiser votre activité
                , je vous conseillerais en fonction de vos besoin quelle solution adpaté à votre activité comme l'ecommerce,
                le e-learning, site de communication , à sa gestion de sauvegarder pour prendre des précaussions du premier
                niveau contre le piratage.
            </ul>

        </article>

        <article *ngIf="articleCourant == 'Technologie'">
            <h2>profil</h2>
            <p>


                Développeur depuis 5 années avec un certificat au CNAM dans le langage client/serveur, j'ai développeur WEB mes permières
                expérences dans la programmation en langage PHP5 sous le LMS Moodle en backend pour conçevoir en backend
                des solutions d'inscription automatique, de correction de bug, de test et mise à jour régulière de cette
                plate forme.
            </p>

            <h2>Technologie utilisé</h2>

            <p>
                Je suis axés sur 3 technologies pour rendre le développement d' API REST efface et d'être moin dépandant des environnements
                de développement:

            </p>

            <ul>
                <li>
                    Angular 4 pour votre frontend, utiliser le langage javascript permet d'avoir des pages légère et dynamique avec une bon environnement
                    entre ce framework et votre navigateur web.
                </li>
                <li>
                    Le framwork Lumen pour la gestion du backend, afin de réduire l'activité du serveur , le framwork Lument qui est plus allégérer
                    que Laravel, permettra de fournir les données sous forme d'API.
                </li>
                <li>
                    la base de donnée MYSQL ou Maria DB est une solution adapté au petite et moyenne entreprise.
                </li>
            </ul>

            <p>
                Si vous avez une activité de boutique en ligne, j'intégre aussi grâce au logiciel d'inforgraphique pour la gestion et la
                retouche photo.
            </p>

            <p>
                Intervention sur vos matériel et remplacement de pièces informatiques, installation de serveur privé en local.
            </p>
            <p>
                vous souhaitez concevoir des cartes de commande type domotique, je peux développer des solutions sous arduino ou sous beaglbone.
            </p>
        </article>

        <app-contact id="contact" *ngIf="articleCourant == 'Contact'">

            <h2>formulaire de contact</h2>
        </app-contact>

    </div>
</div>