/* Sticky footer styles
-------------------------------------------------- */
html, body {
    height: auto !important;
  }
  
  html {
      position: relative;
      min-height: 100%;  
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 5rem !important;
    background:url('ruche.png') fixed;

    color:white;
    
  }
  
  .ui.fixed.menu + .ui.grid {
      padding-top: 3.75rem !important;
  }
  
  .page-footer {
    position: absolute;
    bottom: -1rem;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 5rem;
  }
  